## Sales Report Top Departments Query

In [7]:
import pandas as pd
import psycopg2

def query_sales_report_data(connection_string):
    """
    Queries employee payment data and returns the results as a Pandas DataFrame.

    Args:
        connection_string (str): PostgreSQL connection string.

    Returns:
        pd.DataFrame: DataFrame containing the query results.
    """
    query = """
    SELECT
        t.store_id,
        DATE_TRUNC('month', t.transaction_date)::date AS sale_month,
        d.dept_name,
        SUM(s.quantity) AS total_quantity_sold,
        COUNT(DISTINCT t.transaction_id) AS total_transactions
    FROM
        sales s
    INNER JOIN transactions t
        ON s.transaction_id = t.transaction_id
    INNER JOIN products p
        ON s.product_id = p.product_id
    INNER JOIN department d
        ON p.dept_id = d.dept_id
    WHERE
        t.transaction_type = 0 -- Include only sales (exclude returns)
    GROUP BY
        t.store_id, sale_month, d.dept_name
    ORDER BY
        t.store_id, sale_month, d.dept_name;

    """
    
    # Connect to the database
    with psycopg2.connect(connection_string) as conn:
        # Use Pandas to execute the query and return the results as a DataFrame
        df = pd.read_sql_query(query, conn)
    
    return df

In [ ]:
# Example Usage
connection_string = "dbname='abc_foodmart' user='postgres' password='jade5808' host='localhost' port='5432'"
store_sales = query_sales_report_data(connection_string)

print(store_sales)

    store_id  sale_month           dept_name  total_quantity_sold  \
0          1  2024-10-01              Bakery                   65
1          1  2024-10-01           Beverages                   63
2          1  2024-10-01               Dairy                   35
3          1  2024-10-01        Frozen Foods                   84
4          1  2024-10-01     Health & Beauty                   99
..       ...         ...                 ...                  ...
85         3  2024-12-01  Household Supplies                   18
86         3  2024-12-01      Meat & Seafood                   17
87         3  2024-12-01              Pantry                    5
88         3  2024-12-01             Produce                    9
89         3  2024-12-01              Snacks                   16

    total_transactions
0                   17
1                   18
2                   13
3                   28
4                   28
..                 ...
85                   6
86                   5
87                   1
88                   4
89                   6

[90 rows x 5 columns]

/var/folders/4c/4dspdyxs01gbnk6gwhydwpnr0000gn/T/ipykernel_19609/288021475.py:41: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

## Sales Report Top Products from Each Store

In [16]:
import pandas as pd
import psycopg2

def query_top_worst_products(connection_string):
    """
    Queries employee payment data and returns the results as a Pandas DataFrame.

    Args:
        connection_string (str): PostgreSQL connection string.

    Returns:
        pd.DataFrame: DataFrame containing the query results.
    """
    query = """
WITH product_sales AS (
    SELECT
        t.store_id,
        s.store_name,
        p.product_id,
        p.product_name,
        SUM(sales.quantity) AS total_quantity_sold
    FROM
        sales
    INNER JOIN transactions t
        ON sales.transaction_id = t.transaction_id
    INNER JOIN store s
        ON t.store_id = s.store_id
    INNER JOIN products p
        ON sales.product_id = p.product_id
    WHERE
        t.transaction_type = 0 -- Include only sales (exclude returns)
    GROUP BY
        t.store_id, s.store_name, p.product_id, p.product_name
),
ranked_sales AS (
    SELECT
        ps.store_id,
        ps.store_name,
        ps.product_id,
        ps.product_name,
        ps.total_quantity_sold,
        RANK() OVER (PARTITION BY ps.store_id ORDER BY ps.total_quantity_sold DESC) AS rank_best,
        RANK() OVER (PARTITION BY ps.store_id ORDER BY ps.total_quantity_sold ASC) AS rank_least
    FROM
        product_sales ps
)
SELECT
    store_id,
    store_name,
    product_id,
    product_name,
    total_quantity_sold,
    CASE
        WHEN rank_best <= 5 THEN 'Top-Selling'
        WHEN rank_least <= 5 THEN 'Least-Selling'
    END AS product_category
FROM
    ranked_sales
WHERE
    rank_best <= 5 OR rank_least <= 5
ORDER BY
    store_id, product_category, total_quantity_sold DESC;


    """
    
    # Connect to the database
    with psycopg2.connect(connection_string) as conn:
        # Use Pandas to execute the query and return the results as a DataFrame
        df = pd.read_sql_query(query, conn)
    
    return df

In [17]:
# Example Usage
connection_string = "dbname='abc_foodmart' user='postgres' password='jade5808' host='localhost' port='5432'"
products = query_top_worst_products(connection_string)

# Display the DataFrame
print(products)

    store_id              store_name  product_id  \
0          1  ABC Food Mart Queens 1          90
1          1  ABC Food Mart Queens 1          41
2          1  ABC Food Mart Queens 1          35
3          1  ABC Food Mart Queens 1           1
4          1  ABC Food Mart Queens 1          97
5          1  ABC Food Mart Queens 1          11
6          1  ABC Food Mart Queens 1          51
7          1  ABC Food Mart Queens 1          77
8          1  ABC Food Mart Queens 1          27
9          1  ABC Food Mart Queens 1          64
10         1  ABC Food Mart Queens 1          98
11         1  ABC Food Mart Queens 1          31
12         1  ABC Food Mart Queens 1           8
13         1  ABC Food Mart Queens 1          86
14         2  ABC Food Mart Queens 2          68
15         2  ABC Food Mart Queens 2           4
16         2  ABC Food Mart Queens 2           1
17         2  ABC Food Mart Queens 2          80
18         2  ABC Food Mart Queens 2          73
19         2  ABC Food Mart Queens 2          96
20         2  ABC Food Mart Queens 2          24
21         2  ABC Food Mart Queens 2          14
22         2  ABC Food Mart Queens 2          99
23         2  ABC Food Mart Queens 2          61
24         2  ABC Food Mart Queens 2          76
25         3  ABC Food Mart Brooklyn          78
26         3  ABC Food Mart Brooklyn          97
27         3  ABC Food Mart Brooklyn          83
28         3  ABC Food Mart Brooklyn          79
29         3  ABC Food Mart Brooklyn          50
30         3  ABC Food Mart Brooklyn          98
31         3  ABC Food Mart Brooklyn          90
32         3  ABC Food Mart Brooklyn          38
33         3  ABC Food Mart Brooklyn          95
34         3  ABC Food Mart Brooklyn          70
35         3  ABC Food Mart Brooklyn          75
36         3  ABC Food Mart Brooklyn          48
37         3  ABC Food Mart Brooklyn          44
38         3  ABC Food Mart Brooklyn          59

                     product_name  total_quantity_sold product_category
0            GoodFood Body Lotion                    5    Least-Selling
1                 PureTaste Donut                    5    Least-Selling
2        PureTaste Cheddar Cheese                    5    Least-Selling
3        GreenValley Cream Cheese                    5    Least-Selling
4               BudgetBuy Popcorn                    5    Least-Selling
5     BudgetBuy Frozen Vegetables                    5    Least-Selling
6                  BudgetBuy Cola                    4    Least-Selling
7           GoodFood Frozen Fries                    4    Least-Selling
8       GreenValley Bottled Water                    3    Least-Selling
9              GoodFood Ice Cream                   34      Top-Selling
10     NatureDelight Granola Bars                   34      Top-Selling
11       BudgetBuy Frozen Berries                   34      Top-Selling
12         PureTaste Canned Beans                   32      Top-Selling
13         BudgetBuy Granola Bars                   31      Top-Selling
14  OrganicChoice Sparkling Water                    6    Least-Selling
15         FamilyFare Body Lotion                    6    Least-Selling
16       GreenValley Cream Cheese                    6    Least-Selling
17     NatureDelight Paper Towels                    5    Least-Selling
18           FamilyFare Croissant                    4    Least-Selling
19     OrganicChoice Paper Towels                    1    Least-Selling
20    NatureDelight Salmon Fillet                   32      Top-Selling
21            BudgetBuy Green Tea                   29      Top-Selling
22            PureTaste Ice Cream                   28      Top-Selling
23           PureTaste Toothpaste                   28      Top-Selling
24          GreenValley Croissant                   28      Top-Selling
25           OrganicChoice Apples                    4    Least-Selling
26              BudgetBuy Popcorn                    4    Least-Selling
27         NatureDelight Pretzels                    4    Least-Selling
28            GoodFood Trash Bags                    2    Least-Selling
29  DailyEssentials Salmon Fillet                    2    Least-Selling
30     NatureDelight Granola Bars                    2    Least-Selling
31           GoodFood Body Lotion                    2    Least-Selling
32           FreshFarm Whole Milk                   44      Top-Selling
33          PureTaste White Bread                   29      Top-Selling
34            HarvestBest Oranges                   27      Top-Selling
35          HarvestBest Deodorant                   26      Top-Selling
36         FreshFarm Granola Bars                   24      Top-Selling
37             HarvestBest Grapes                   24      Top-Selling
38    DailyEssentials White Bread                   24      Top-Selling

/var/folders/4c/4dspdyxs01gbnk6gwhydwpnr0000gn/T/ipykernel_19609/2951614280.py:70: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

## Vendor Delivery Tracking

In [9]:
import pandas as pd
import psycopg2

def query_delivery_data(connection_string):
    """
    Queries employee payment data and returns the results as a Pandas DataFrame.

    Args:
        connection_string (str): PostgreSQL connection string.

    Returns:
        pd.DataFrame: DataFrame containing the query results.
    """
    query = """
    SELECT
        v.vendor_id,
        v.vendor_name,
        p.product_id,
        p.product_name,
        s.store_id,
        s.store_name,
        d.delivery_date,
        d.quantity
    FROM
        deliveries d
    INNER JOIN products p
        ON d.product_id = p.product_id
    INNER JOIN vendors v
        ON d.vendor_id = v.vendor_id
    INNER JOIN store s
        ON d.store_id = s.store_id
    WHERE 
        v.vendor_id = 3
    AND d.delivery_date BETWEEN '2024-11-01' AND '2024-12-01'
    ORDER BY
        v.vendor_id, d.delivery_date DESC;

    """
    
    # Connect to the database
    with psycopg2.connect(connection_string) as conn:
        # Use Pandas to execute the query and return the results as a DataFrame
        df = pd.read_sql_query(query, conn)
    
    return df

In [11]:
# Example Usage
connection_string = "dbname='abc_foodmart' user='postgres' password='jade5808' host='localhost' port='5432'"
delivery = query_delivery_data(connection_string)

# Display the DataFrame
print(delivery)

    vendor_id           vendor_name  product_id                 product_name  \
0           3  Jones, Johnston and           90         GoodFood Body Lotion
1           3  Jones, Johnston and            8       PureTaste Canned Beans
2           3  Jones, Johnston and           27    GreenValley Bottled Water
3           3  Jones, Johnston and           71     GreenValley Potato Chips
4           3  Jones, Johnston and            2          HarvestBest Shampoo
5           3  Jones, Johnston and           24  NatureDelight Salmon Fillet
6           3  Jones, Johnston and           65       PureTaste Greek Yogurt
7           3  Jones, Johnston and            7     OrganicChoice Whole Milk
8           3  Jones, Johnston and           85            FreshFarm Popcorn
9           3  Jones, Johnston and           77        GoodFood Frozen Fries
10          3  Jones, Johnston and           57           GoodFood Dish Soap
11          3  Jones, Johnston and           35     PureTaste Cheddar Cheese
12          3  Jones, Johnston and           69     DailyEssentials Pretzels
13          3  Jones, Johnston and           56           NatureDelight Cola
14          3  Jones, Johnston and           35     PureTaste Cheddar Cheese
15          3  Jones, Johnston and           19      BudgetBuy Salmon Fillet
16          3  Jones, Johnston and           18      FamilyFare Orange Juice

    store_id              store_name delivery_date  quantity
0          3  ABC Food Mart Brooklyn    2024-11-29       505
1          1  ABC Food Mart Queens 1    2024-11-28       374
2          2  ABC Food Mart Queens 2    2024-11-26       771
3          3  ABC Food Mart Brooklyn    2024-11-26       351
4          2  ABC Food Mart Queens 2    2024-11-19       559
5          1  ABC Food Mart Queens 1    2024-11-16       234
6          2  ABC Food Mart Queens 2    2024-11-15       834
7          3  ABC Food Mart Brooklyn    2024-11-14       441
8          2  ABC Food Mart Queens 2    2024-11-11       911
9          1  ABC Food Mart Queens 1    2024-11-10       566
10         3  ABC Food Mart Brooklyn    2024-11-09       418
11         1  ABC Food Mart Queens 1    2024-11-09       994
12         1  ABC Food Mart Queens 1    2024-11-09       978
13         1  ABC Food Mart Queens 1    2024-11-08       628
14         2  ABC Food Mart Queens 2    2024-11-07       165
15         2  ABC Food Mart Queens 2    2024-11-02       468
16         1  ABC Food Mart Queens 1    2024-11-01       949

/var/folders/4c/4dspdyxs01gbnk6gwhydwpnr0000gn/T/ipykernel_19609/3583448531.py:43: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

## Employee Pay Periods Query

In [3]:
import pandas as pd
import psycopg2

def query_employee_payment_data(connection_string):
    """
    Queries employee payment data and returns the results as a Pandas DataFrame.

    Args:
        connection_string (str): PostgreSQL connection string.

    Returns:
        pd.DataFrame: DataFrame containing the query results.
    """
    query = """
    SELECT
        ett.employee_id,
        p.pay_period_start,
        p.pay_period_end,
        SUM(EXTRACT(EPOCH FROM (ett.end_time - ett.start_time)) / 3600) AS total_hours_worked,
        p.hour_wage,
        SUM(EXTRACT(EPOCH FROM (ett.end_time - ett.start_time)) / 3600) * p.hour_wage AS total_amount_paid
    FROM
        employee_time_tracking ett
    INNER JOIN payroll p
        ON ett.employee_id = p.employee_id
        AND ett.start_time::date BETWEEN p.pay_period_start AND p.pay_period_end
    WHERE
        ett.start_time::date >= '2023-11-01' AND ett.start_time::date <= CURRENT_DATE
    GROUP BY
        ett.employee_id, p.pay_period_start, p.pay_period_end, p.hour_wage
    ORDER BY
        ett.employee_id, p.pay_period_start;
    """
    
    # Connect to the database
    with psycopg2.connect(connection_string) as conn:
        # Use Pandas to execute the query and return the results as a DataFrame
        df = pd.read_sql_query(query, conn)
    
    return df

In [4]:
# Example Usage
connection_string = "dbname='abc_foodmart' user='postgres' password='jade5808' host='localhost' port='5432'"
employee_payment_df = query_employee_payment_data(connection_string)

# Display the DataFrame
print(employee_payment_df)

     employee_id pay_period_start pay_period_end  total_hours_worked  \
0              1       2024-11-11     2024-11-24                82.0
1              1       2024-11-25     2024-12-08                78.0
2              2       2024-11-11     2024-11-24                83.0
3              2       2024-11-25     2024-12-08                78.0
4              3       2024-11-11     2024-11-24                84.0
..           ...              ...            ...                 ...
175           88       2024-11-25     2024-12-08                79.0
176           89       2024-11-11     2024-11-24                97.0
177           89       2024-11-25     2024-12-08                82.0
178           90       2024-11-11     2024-11-24                85.0
179           90       2024-11-25     2024-12-08                73.0

     hour_wage  total_amount_paid
0        29.16            2391.12
1        29.16            2274.48
2        23.00            1909.00
3        23.00            1794.00
4        33.66            2827.44
..         ...                ...
175      48.21            3808.59
176      30.63            2971.11
177      30.63            2511.66
178      39.36            3345.60
179      39.36            2873.28

[180 rows x 6 columns]

/var/folders/4c/4dspdyxs01gbnk6gwhydwpnr0000gn/T/ipykernel_19609/3107706982.py:38: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

## Inventory Query

In [12]:
import pandas as pd
import psycopg2

def query_inventory(connection_string):
    """
    Queries employee payment data and returns the results as a Pandas DataFrame.

    Args:
        connection_string (str): PostgreSQL connection string.

    Returns:
        pd.DataFrame: DataFrame containing the query results.
    """
    query = """
    SELECT
        i.store_id,
        s.store_name,
        i.product_id,
        p.product_name,
        i.quantity AS inventory_level,
        i.last_updated
    FROM
        inventory i
    INNER JOIN store s
        ON i.store_id = s.store_id
    INNER JOIN products p
        ON i.product_id = p.product_id
    ORDER BY
        i.store_id, i.product_id;

    """
    
    # Connect to the database
    with psycopg2.connect(connection_string) as conn:
        # Use Pandas to execute the query and return the results as a DataFrame
        df = pd.read_sql_query(query, conn)
    
    return df

In [15]:
# Example Usage
connection_string = "dbname='abc_foodmart' user='postgres' password='jade5808' host='localhost' port='5432'"
inventory = query_inventory(connection_string)

inventory.tail(25)

/var/folders/4c/4dspdyxs01gbnk6gwhydwpnr0000gn/T/ipykernel_19609/972199641.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

,store_id,store_name,product_id,product_name,inventory_level,last_updated
275,3,ABC Food Mart Brooklyn,76,GreenValley Croissant,1250,2024-12-08 18:16:53.143942
276,3,ABC Food Mart Brooklyn,77,GoodFood Frozen Fries,1338,2024-12-08 18:16:53.143942
277,3,ABC Food Mart Brooklyn,78,OrganicChoice Apples,1424,2024-12-08 19:54:13.253752
278,3,ABC Food Mart Brooklyn,79,GoodFood Trash Bags,2966,2024-12-08 18:16:53.143942
279,3,ABC Food Mart Brooklyn,80,NatureDelight Paper Towels,2125,2024-12-08 19:54:13.253752
280,3,ABC Food Mart Brooklyn,81,HarvestBest Toothpaste,643,2024-12-08 18:16:53.143942
281,3,ABC Food Mart Brooklyn,82,HarvestBest Baguette,1729,2024-12-08 19:54:13.253752
282,3,ABC Food Mart Brooklyn,83,NatureDelight Pretzels,3706,2024-12-08 18:16:53.143942
283,3,ABC Food Mart Brooklyn,84,GoodFood Popcorn,2247,2024-12-08 18:16:53.143942
284,3,ABC Food Mart Brooklyn,85,FreshFarm Popcorn,816,2024-12-08 18:16:53.143942
285,3,ABC Food Mart Brooklyn,86,BudgetBuy Granola Bars,1133,2024-12-08 18:16:53.143942
286,3,ABC Food Mart Brooklyn,87,DailyEssentials Toothpaste,3896,2024-12-08 18:16:53.143942
287,3,ABC Food Mart Brooklyn,88,NatureDelight Strawberries,1021,2024-12-08 18:16:53.143942
288,3,ABC Food Mart Brooklyn,89,OrganicChoice Potato Chips,1509,2024-12-08 18:16:53.143942
289,3,ABC Food Mart Brooklyn,90,GoodFood Body Lotion,1470,2024-12-08 18:16:53.143942
290,3,ABC Food Mart Brooklyn,91,DailyEssentials Chocolate Bar,1496,2024-12-08 18:16:53.143942
291,3,ABC Food Mart Brooklyn,92,GreenValley Body Lotion,2486,2024-12-08 18:16:53.143942
292,3,ABC Food Mart Brooklyn,93,HarvestBest Bottled Water,4109,2024-12-08 18:16:53.143942
293,3,ABC Food Mart Brooklyn,94,FamilyFare Shampoo,3932,2024-12-08 18:16:53.143942
294,3,ABC Food Mart Brooklyn,95,PureTaste White Bread,743,2024-12-08 18:16:53.143942
295,3,ABC Food Mart Brooklyn,96,OrganicChoice Paper Towels,4467,2024-12-08 18:16:53.143942
296,3,ABC Food Mart Brooklyn,97,BudgetBuy Popcorn,3011,2024-12-08 18:16:53.143942
297,3,ABC Food Mart Brooklyn,98,NatureDelight Granola Bars,1888,2024-12-08 18:16:53.143942
298,3,ABC Food Mart Brooklyn,99,PureTaste Ice Cream,1244,2024-12-08 18:16:53.143942
299,3,ABC Food Mart Brooklyn,100,GreenValley Frozen Berries,1262,2024-12-08 18:16:53.143942